/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
 html, body {
            height: 100%;
            margin: 0;
        }
#containerDiv {
	   display: block;
            background: rgba(1000, 1000, 1000, 0.65);
        min-height: 100%; 
        
}
#containerDivContact {
	   display: block;
            background: rgba(1000, 1000, 1000, 0.65);
        min-height: 100%; 
        
}
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
#unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
h2 a{
	float:right;
}
#addButton{
	float: right;
}
#containerDiv button{
	float: right;
}
#listProducts{
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#listProducts tr:nth-child(even){background-color: #f2f2f2;}

#listProducts tr:hover {background-color: #ddd;}

#listProducts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


.success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}

/*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
    
}

#contact .well{
	max-width: 1100px;
    margin-top:30px;
    margin-right: 150px;
    border-radius:0;
}

#contact .form-control{
	max-width: 400px;
	
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
	
    border-radius:3;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
    
}

#con{
	width: 100%;
}

#outer {
  width: 100%;
  
}

#inner {
  margin: 0 auto;
}