<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Dodawanie nowego produktu</title>
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/tlo.css}"
		rel="stylesheet" media="screen" />
	<th:block th:include="fragments/headerinc :: head"></th:block>

</head>

<body>

       <div class="container">                    
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title"><b>Dodaj nowego użytkownika</b></h3>
        </div>
        <div class="panel-body">
		<form action="/dodajCzlonkaRodzinki" method="POST">
			<fieldset>
				<hr class="colorgraph"></hr>
				<div class="form-group">
                    <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email użytkownika"></input>
				</div>				
				<hr class="colorgraph"></hr>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                   <a href="/productsList" class="btn btn-lg btn-danger btn-block">Anuluj</a>  
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
				   <a href="/productsList"><input type="submit" class="btn btn-lg btn-success btn-block" value="Dodaj"></input></a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
</div>
</div>
</div>
 
</body>
</html>