<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/tlo.css}"
		rel="stylesheet" media="screen" />
    <title>Lista produktów</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container" id="containerDiv" >
 
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
   
    <div class="table" id="tableDiv" th:if="${not #lists.isEmpty(products)}">
  
        
         <h2>Lista produktów
          <a href="/addProduct"><button type="submit"  class="btn btn-success">
		 <span class="glyphicon glyphicon-plus"></span> Dodaj nowy produkt</button></a>
		<a href="/productsList"><button type="button"  class="btn btn-default">
 		 <span class="glyphicon glyphicon-refresh"></span>Odśwież liste</button></a>  
 		 </h2>       
     
        <table class="table table-striped" id="users">
            <tr>
                <th>Id</th>
                <th>Nazwa produktu</th>
                <th>Sklep</th>
                <th>Częstość używania(Razy w tygodniu)</th>
                <th>Średni koszt(Zł)</th>
                <th>Ilość produktu[g]</th>
                <th>Średnie zużycie na dzień[g]</th>
                <th> </th>
            
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">Id</td>
                <td th:text="${product.productName}">Nazwa produktu</td>
                <td th:text="${product.shop}">Sklep</td>
                <td th:text="${product.frequencyOfUse}">Częstość używania(Razy w tygodniu)</td>
                <td th:text="${product.averageCost}">Średni koszt(Zł)</td>
                <td th:text="${product.amount}">Ilość produktu[g]</td>
                <td th:text="${product.amountPerDay}">Średnie zużycie na dzień[g]</td>
                <td > <form method="POST" th:action="@{/{id}/delete(id=${product.id})}">
                <button type="submit" class="btn btn-danger" aria-label="Left Align">
 				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Usuń
				</button></form></td>
               
            </tr>
        </table>

    </div>
</div>

</body>
</html>